html, body {
    margin:0 0 0 0;
    height:100%;
}
.logo {
    text-align:center;
    border-left:-8em;
    border-right:-8em;
}

.logo .display {
    font-size:12px;
}

.side-bar{
    height:100%;
    margin:0 0 0 0;
    padding:0 0 0 0;
}
.page-container {
    height:100%;
}

.side-bar .button {
    padding: 15 15 15 15;
    width:100%;
    text-align:right;
}

.side-bar .button:hover{
    cursor:pointer;
}


.hide {
    display:none;
}

.btn-sml {
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size:10px;
    display:inline;
}

.glyph-btn:hover {
    cursor:pointer;
}

.statistic-card {
    margin: 5 5 5 5; 
    padding: 0 10 10 10; 
    border-radius:10px; 
    display:inline-block;
    width: 250px;
    text-align:left;
}

.statistic-card h4 {
    width:100%;
    text-align:center;
}