
    <div class='row' style='width:100%;'>
        <div class='col-lg-2'></div>
        <div class='col-lg-8'>
            <canvas id="pie-chart" width="800" height="450"></canvas>
        </div>
        <div class='col-lg-2'></div>
    </div>
    <div class='row' style='text-align:center; position:absolute; bottom:0px;'>
        <div class='col-xs-12'>
            <div style='display:inline-block; padding: 5 5 5 5; margin: 5 10 5 10; text-align:center' ng-repeat='label in chart.data.labels track by $index'>
                <div>
                    {{label}}
                </div>
                <hr style='margin: 0 0 0 0;' ng-style="{'border-top': '2px solid ' + rainbow[$index]}">
                <p ng-if='tickerToShow === "USD"'>${{walletHolder[label].usdValue}}</p>
                <p ng-if='tickerToShow === "BTC"'>{{walletHolder[label].btcValueRounded}} BTC</p>
            </div>
        </div>
    </div>