html, body {
    color:#000000;
}

.logo .display {
    color:#ddd;
}

.side-bar{
    background-color:#2da6c7;
    color: #fff;
}

.page-container {
    background-color:#f1f1f1;
}

.side-bar .button {
    color:#ddd;
}

.side-bar .button:hover{
    color:#fff;
}
.side-bar .selected{
    background-color:#f1f1f1 !important;
    color:#000 !important;
}

input {
    background-color:#fff;
}

.statistic-card {
    background-color:#fff; 
    color: #626262;
}

.statistic-card h4 {
    color:#000;
}

.muted-green {
    color:#009900;
}

.muted-red {
    color:#AA0000;
}